<%- include('../layouts/main'); %>

    <div id="mostrar-alert"></div>

    <div class="container">
        <h1>Productos de la combinación</h1>

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <button id="btnNuevo" type="button" class="btn btn-success" data-toggle="modal">Nuevo</button>
                </div>
            </div>
        </div>
        <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="table-responsive">
                        <table id="tablaPersonas" class="table table-striped table-bordered table-condensed"
                            style="width:100%">
                            <thead class="text-center">
                                <tr>
                                    <th>Id</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Porciones</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                                <% productsCombination.forEach((dato)=> { %>
                                    <tr>
                                        <td>
                                            <%= dato.id %>
                                        </td>
                                        <td>
                                            <%= dato.Product.name %>
                                        </td>
                                        <td>
                                            <%= dato.amount_used %>
                                        </td>
                                        <td><%= dato.amount_preparations %></td>
                                        <td></td>
                                        <input type="hidden" id="ProductId-<%= dato.id %>" value="<%= dato.ProductId %>">
                                    </tr>
                                    <% }); %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--Modal para CRUD-->
        <div class="modal fade" id="modalCRUD" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form id="formPersonas">
                        <div class="modal-body">
                            <input type="hidden" value="" class="form-control" name="id" id="id">
                            <input type="hidden" value="<%= combinationid %>" class="form-control" name="combinationid" id="combinationid">
                            <div class="form-group">
                                <label for="ProductId" class="col-form-label">Producto:</label>
                                <select name="ProductId" id="ProductId" class="form-control">
                                    <% productos.forEach((dato)=> { %>
                                    <option value="<%= dato.id %>"><%= dato.name %></option>
                                    <% }); %>
                                </select>
                            </div>
                            <div class="d-flex justify-content-around">
                                <div class="form-group" style="width: 45%;">
                                    <label for="amount_used" class="col-form-label">Cantidad:</label>
                                    <input type="number" max="5" min="1" class="form-control" name="amount_used" id="amount_used">
                                </div>
                                <div class="form-group" style="width: 45%;">
                                    <label for="amount_preparations" class="col-form-label">Porciones:</label>
                                    <input type="number" max="20" min="1" class="form-control" name="amount_preparations" id="amount_preparations">
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-light" data-dismiss="modal">Cancelar</button>
                                <button type="submit" id="btnGuardar" class="btn btn-dark">Guardar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <%- include('../layouts/footer'); %>

    <script type="text/javascript" src="/js/ABM/generalJquery.js"></script>
    <script type="text/javascript" src="/js/ABM/produccombinationsJquery.js"></script>
</body>
</html>